html {
    height: 100%;
}

body {
    width: 100%;
    overflow: hidden;

    h3 {
        text-align: center;
        margin-top: 8%;
    }
    form {
        width: 100%;

        .form-group {
            width: 16%;
            left: 42%;
            height: 40px;
            margin-top: 20px;
        }

        #code-area {
            display: none;
            #code-div {
                width: 200px;
                display: inline-block;
            }
            img {
                margin-left: 805px;
            }
        }

        .btn-group {
            margin-top: 60px;
        }

    }

    .btn-group {
        width: 10%;
        display: flex;
        margin: 0 auto;
        margin-top: 30px;

        #login-button {
            flex: 1;
        }
        #register-button {
            flex: 1;
        }
    }
}